%h1 
	About Metallr
%p
	Metallr is a social network for use by metalheads
%p
	It is a micro-blogging platform, which allows slightly longer messages than some may be used to (255 characters max), and allows flexible browsing of 'riffs' made by other users.
%p
	Once you are logged in, you can find other users can follow them by 'Idolizing' them. Once you do this, you are then in that persons 'Groupies' list. You can see all Idols a user has, and view all the tweets by these Idols, and the same for Groupies (you can view all Groupies for any user, and see all tweets by those groupies)
%p 	
	This application was build by my, James Love as a project to teach myself Ruby on Rails development, as well as deployment of it onto Linux servers. You can view the source code for this project at: 
	%a{:href=>"http://gitub.com/jimmywim/Metallr"}
		http://gitub.com/jimmywim/Metallr