<div class="span4">
	<h1>Metallr</h1>

	<%= render "shared/usernewriff" %>
</div>

<div class="span6">
	<section id="posts-listing">
		<% if @posts.count > 0 %>
			<% @posts.each do |post| %>
			<%= render 'shared/post', :post => post %>
			<% end %>
			<%= will_paginate @posts, :renderer => BootstrapPagination::Rails %>
		<% elsif controller.action_name == "idols" %>
			<p>No posts from your idols. Idolize some people who have posted.</p>
			<p>Use the 'search' box above to find some idols.</p>
		<% else %>
			No posts here!
		<% end %>
	</section>
</div>
