<h1>Metallr</h1>

<% if user_signed_in? %>
  <em>
    Welcome <%= current_user.username %>
  </em>

  <div class="row-fluid">
    <%= render :partial => 'new', :locals => { :f => @post} %>
  </div>

<% end %>

<section id="posts-listing">
   <% @posts.each do |post| %>
    <%= render 'shared/post', :post => post %>
   <% end %>
   <%= will_paginate @posts, :renderer => BootstrapPagination::Rails %>
</section>
