/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .

  *= require bootstrap
 */

.post-user a,
.post-user a:link,
.post-user a:visited,
article a
{
	font-color: black;
	font-weight: bold;
	color: inherit;
}

article a,
article a:hover,
.post-user a:hover {
	background: transparent;
	text-decoration: none;
}

article 
{
	margin-bottom: 20px;
}

article .well 
{
	margin-bottom: 0;
}