// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.post-actions .nav
{
	margin-bottom: 0;
}

article
{
	margin-bottom: 5px;
}

article .well 
{
	padding-bottom: 5px;
}

article .well.new-post
{
	background: #98CE98;
}

.riff_user_pic
{
	float: left;
	margin-right: 10px;
}

.riff-length
{
	display: inline;
	color: black;
}

.riff-length-overflow
{
	color: red;
}